<link rel="import" href="../../../assets/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../assets/bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../../assets/web_components/mtrm_component.html">

<h2 class="hidden">HEADER</h2>
<mtrm-header rootPath="[[rootPath]]" view="[[view]]">
    <div slot="links">
        <a name="top" routerLink="/">
            <iron-icon icon="icons:home"></iron-icon>
        </a>
        <a name="voice-changer" routerLink="/voice-changer">
            <iron-icon icon="av:queue-music"></iron-icon>
        </a>
    </div>
</mtrm-header>
<router-outlet></router-outlet>