<link rel="import" href="../../../assets/web_components/mtrm_component.html">

<h2 class="hidden">Voice Change</h2>
<div class="metronome">
    <div class="row metronome-content top">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column">
            <mtrm-component title="Pitch ratio" type="slider" params="{{pitchRatioSetting}}" param="{{pitchRatio}}" (change)="changePitchRatio($event)"></mtrm-component>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column">
            <mtrm-component title="Overlap ratio" type="slider" params="{{overlapRatioSetting}}" param="{{overlapRatio}}" (change)="changeOverlapRatio($event)"></mtrm-component>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column">
            <mtrm-component title="Grain size" type="lifting" params="{{grainSizeSetting}}" param="{{grainSizeKey}}" (change)="changeGrainSize($event)"></mtrm-component>
        </div>
    </div>
    <div class="row metronome-content bottom">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column">
            <mtrm-component title="Grain size" type="lifting" params="{{audioSourcesSetting}}" param="{{audioSourceIndex}}" (change)="changeAudioSource($event)"></mtrm-component>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column">
            <mtrm-component title="ON/OFF" type="lifting" params="{{powerSetting}}" param="{{power}}" (change)="changePower($event)"></mtrm-component>
        </div>
    </div>
</div>