<link rel="import" href="../../../../assets/web_components/mtrm_component.html">

<h2 class="hidden">METRONOME</h2>
<div class="metronome">
    <div class="row metronome-content top">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column">
            <mtrm-component title="TEMPO" params="{{tempos}}" param="{{tempo}}" type="slider" (change)="changeTempo($event)"></mtrm-component>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 column">
            <!--
            <app-beat></app-beat>
            -->
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 column">
            <!--
            <app-sound></app-sound>
            -->
        </div>
    </div>
    <div class="row metronome-content middle">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
            <!--
            <app-tempo-control></app-tempo-control>
            -->
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column">
            <!--
            <app-tempo-control-button></app-tempo-control-button>
            -->
        </div>
    </div>
    <div class="row metronome-content bottom">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 column">
            <!--
            <app-volume></app-volume>
            -->
        </div>
        <div class="col-xs-6 col-sm-4 col-sm-offset-4 column">
            <!--
            <app-run></app-run>
            -->
        </div>
    </div>
</div>
