<link rel="import" href="../../../../assets/web_components/mtrm_component.html">

<h2 class="hidden">METRONOME</h2>
<div class="metronome">
    <div class="row metronome-content top">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column">
            <mtrm-component title="TEMPO" type="slider" params="{{tempos}}" param="{{tempo}}" (change)="changeTempo($event)"></mtrm-component>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 column">
            <mtrm-component title="BEAT" type="lifting" params="{{beats}}" param="{{beat}}" (change)="changeBeat($event)"></mtrm-component>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 column">
            <mtrm-component id="sound" title="SOUND" type="lifting" params="{{sounds}}" param="{{sound}}" (change)="changeSound($event)"></mtrm-component>
        </div>
    </div>
    <div class="row metronome-content bottom">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 column">
            <mtrm-component title="VOLUME" type="lifting" params="{{volumes}}" param="{{volume}}" (change)="changeVolume($event)"></mtrm-component>
        </div>
        <div class="col-xs-6 col-sm-4 col-sm-offset-4 column">
            <mtrm-component id="play" type="play" params="{{play_params}}" param=""></mtrm-component>
        </div>
    </div>
</div>
