/* You can add global styles to this file, and also import other style files */
body {
    background-color : #1976d2;
    background       : linear-gradient(145deg, #0d47a1, #42a5f5);
}

/*
#play {
    --wrapper-height : auto;
}

#sound {
    --display-font-size : 70px;
}
*/